// Variables

// COLORS

$azul: blue;
$azul_oscuro:#00415d;
$azul_claro: #76b5cd;
$azul_claro2: #53A3CD;
$main_color: #FFF;
$gris: #666;
$gris_claro: #ccc;
$negro: #1B1D2A;



$alert_color: #f11b24;

// FONTS

$main_font: italic;
$main_weight: bolder;

// SEPARATION
$separation: 5rem;
$radius: 10px;

// MEDIA QUERIES

$small: 480px;
$medium: 923px;
$big: 1024px;
